/* LatestStories.css */
.latest-stories {
    /* Styles for the entire Latest Stories section */
  }
  
  .section-title {
    /* Styles for section titles */
  }
  
  .story-container {
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
  }
  
  .story {
    background-color: yellow; /* Yellow background color for story items */
    padding: 5px;
    border-radius: 4px;
    color: gray;
    /* Additional styles for individual story items */
  }
  .section-title-container {
    display: flex;
    justify-content: center;
  
  }
  
  .story a {
    text-decoration: none;
    color: black;
  }
  
  .story a:hover {
    text-decoration: underline;
  }
  